<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="记录列表" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th >用户名</th>
              <th >职业生涯勋章数</th>
              <th >常规勋章数</th>
              <th >勋章总数</th>
              <!-- <th >操作</th> -->
            </tr>
            <tr>
              <th></th>
              <th><input ng-model="search.userName" placeholder="" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.professionMedalSummary" placeholder="" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.normalMedalSummary" placeholder="" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input ng-model="search.medalSummary" placeholder="" class="input-sm form-control search-input" type="search"/>
              </th>
              <!-- <th></th> -->
            </tr>
            </thead>
            <tbody>
<!--             <p>smartTableData:{{releaseCtrl.smartTableData}}</p> -->
            <tr ng-repeat="item in inquiryCtrl.smartTableData | filter:search:strict">
              <td class="table-id">{{$index+1}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.professionMedalSummary}}</td>
              <td>{{item.normalMedalSummary}}</td>
              <td>{{item.medalSummary}}</td>
              <!-- <td><a ui-sref="management.medalRelease.detail({medalRecordId: item.medalRecordId})">详情</a></td> -->
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="6" class="text-center">
                <div></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>