<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="记录列表" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th>用户名</th>
              <th>班组</th>
              <th>积分条目</th>
              <th>积分分数</th>
              <th>上传者</th>
              <th>月份</th>
              <th>操作</th>
            </tr>
            <tr>
              <th></th>
              <th><input ng-model="search.userName" placeholder="Search Last Name" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.groupName" placeholder="Search Last Name" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.creditItemName" placeholder="Search creditItem" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.credit" placeholder="Search creditScore" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.updateUser" placeholder="Search updateUser" class="input-sm form-control search-input" type="search"/>
              </th>
              <th><input ng-model="search.createTime" placeholder="Search month" class="input-sm form-control search-input" type="search"/>
              </th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <tr  ng-repeat="item in releaseCtrl.smartTableData | filter:search:strict">
              <td class="table-id">{{$index+1}}</td>
              <td>{{item.userName}}</td>
              <td>{{item.groupName}}</td>
              <td>{{item.creditItemName}}</td>
              <td>{{item.credit}}</td>
              <td>{{item.createUser}}</td>
              <td>{{item.createTime}}</td>
              <td><a ui-sref="management.accumulationRelease.detail({id: item.id})">详情</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="8" class="text-center">
                <div></div>
              </td>
            </tr>
            </tfoot>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>