<div class="widgets">

  <div class="row">
    <div class="col-md-12">
      <div ba-panel ba-panel-title="班组信息" ba-panel-class="with-scroll">
        <div class="horizontal-scroll">
          <table class="table">
            <thead>
            <tr class="sortable ">
              <th class="table-id">#</th>
              <th>班组名称</th>
              <th>班组类型</th>
            </tr>
            <tr>
              <th></th>
              <th><input ng-model="search.groupName" placeholder="Search groupName" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><input ng-model="search.GroupClass.groupTypeName" placeholder="Search groupTypeName" class="input-sm form-control search-input"
                         type="search"/></th>
              <th><a ui-sref="management.groupManagement.add">新增</a></th>
            </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in managementCtrl.smartTableData | filter:search:strict">
              <td class="table-id">{{item.groupId}}</td>
              <td>{{item.groupName}}</td>
              <td>{{item.groupTypeName}}</td>
              <td><a ui-sref="management.groupManagement.modify({groupId: item.groupId})">修改</a></td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
              <td colspan="5" class="text-center">
                <div></div>
              </td>
            </tr>
            </tfoot>
          </table>

        </div>
      </div>
    </div>
  </div>

</div>