<div ba-panel ba-panel-class="profile-page">
  <div class="panel-content">


    <h3 class="with-line">修改密码</h3>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">原密码</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="oldPassword" placeholder="" ng-model="passwordCtrl.mail.oldPassword">
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputPassword" class="col-sm-3 control-label">新密码</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputPassword" placeholder="" ng-model="passwordCtrl.mail.newPassword">
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group row clearfix">
          <label for="inputConfirmPassword" class="col-sm-3 control-label">新密码确认</label>

          <div class="col-sm-9">
            <input type="password" class="form-control" id="inputConfirmPassword" placeholder="" ng-model="passwordCtrl.mail.confirmNewPassword">
          </div>
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-primary btn-with-icon save-profile" ng-click="passwordCtrl.update()">
      <i class="ion-android-checkmark-circle"></i>确认更新
    </button>
  </div>
</div>
